@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Karla", sans-serif;
}

body {
    background-color: #E0F1E8;
}

.submit-btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), #0C7D69;
}